@model FoodDelivery.Domain.DTO.AddToCartDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Add Product To Cart</h1>

<form asp-action="AddToCart" method="post">

    <input type="hidden" asp-for="SelectedDishId" />

    <div class="mt-4">
        <div class="form-group">
            <label asp-for="SelectedDishName" class="control-label"></label>
            <input disabled asp-for="SelectedDishName" class="form-control" />
            <span asp-validation-for="SelectedDishName" class="text-danger"></span>
        </div>
    </div>

    <div class="mt-4">
        <div class="form-group">
            <label asp-for="Quantity" class="control-label"></label>
            <input asp-for="Quantity" type="number" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
    </div>
    <div class="mt-4">
        <div class="form-group">
            <button class="btn btn-success" type="submit">Add To Cart</button>
        </div>
    </div>
</form>
