@model FoodDelivery.Domain.View.DishViewModel

@{
    ViewData["Title"] = "Edit Dish";
}

<h1>Edit Dish</h1>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="DishCategory" class="control-label">Meal Category</label>
        <select asp-for="DishCategory" class="form-control" asp-items="ViewBag.Categories">
            <option value="">Select Category</option>
        </select>
        <span asp-validation-for="DishCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DishName" class="control-label">Meal Name</label>
        <input asp-for="DishName" class="form-control" />
        <span asp-validation-for="DishName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DishImage" class="control-label">Meal image url</label>
        <input asp-for="DishImage" class="form-control" />
        <span asp-validation-for="DishImage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DishIngredients" class="control-label">Meal Ingredients</label>
        <textarea asp-for="DishIngredients" class="form-control"></textarea>
        <span asp-validation-for="DishIngredients" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" type="number" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RestaurantId" class="control-label"></label>
        <select asp-for="RestaurantId" class="form-control" asp-items="ViewBag.Restaurants">
            <option value="">Select Restaurant</option>
        </select>
        <span asp-validation-for="RestaurantId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save Changes" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
