@model FoodDelivery.Domain.Domain.Restaurant

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Restaurant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RestaurantName" class="control-label">Restaurant Name</label>
                <input asp-for="RestaurantName" class="form-control" />
                <span asp-validation-for="RestaurantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantLocation" class="control-label">Restaurant Location</label>
                <input asp-for="RestaurantLocation" class="form-control" />
                <span asp-validation-for="RestaurantLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantImage" class="control-label">Restaurant Image</label>
                <input asp-for="RestaurantImage" class="form-control" />
                <span asp-validation-for="RestaurantImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryTime" class="control-label">Delivery Time</label>
                <input asp-for="DeliveryTime" class="form-control" />
                <span asp-validation-for="DeliveryTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinPriceForOrder" class="control-label">Delivery price</label>
                <input asp-for="MinPriceForOrder" class="form-control" />
                <span asp-validation-for="MinPriceForOrder" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="OnlinePayment" id="flexCheckDefault1">
                <label class="form-check-label" for="flexCheckDefault1">
                    Online Payment
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="CashPayment" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Cash Payment
                </label>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
