@model FoodDelivery.Web.Models.Accommodation

@{
    ViewData["Title"] = "Accommodation Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h3>@Model.Name</h3>
    <p>Type: @Model.AccommodationType</p>
    <p>Price Per Night: @Model.PricePerNight</p>
</div>
